.dropdown-menu__container {
  background-color: whitesmoke;
  width: 100vw;
  height: calc(100vh - 75px);
  position: fixed;
  top: 75px;
  z-index: 3;
  left: 100%;
  transition: 0.5s;

  .nes-container {
    height: 99%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    span {
      margin: 24px 0;
      padding: 2px 0;

      a {
        all: unset;
      }

      &:hover {
        border-bottom: 2px solid black;
      }
    }
  }

  &.dropdown-menu__active {
    left: 0;
  }
}

@media screen and (min-width: 600px) {
  .dropdown-menu__container {
    display: none;
  }
}
