.navbar__container {
	position: absolute !important;
	background-color: #209cee;
	top: 0;
	width: calc(100vw - 8px);
	transition: 0.5s;
	color: #f5f5f5;
	display: flex;
	align-items: center;
	justify-content: space-between;
	z-index: 1;

	h1 {
		margin: 0;
	}

	ul {
		display: flex;
		align-items: center;
		list-style: none;
		margin: 0;

		li {
			margin: 0 20px;
		}
	}
}

.navbar-bg__container {
	position: absolute;
	top: 0;
	right: 0;
	background-color: #212529;
	width: 100vw;
	height: 8px;
}
